<h2>Enter in restraunt</h2>
<form action="/restraunt" method="post">
  <input type="text" name="name[name]" placeholder="enter name of resturant">
  <input type="text" name="address[address]" placeholder="enter address of resturant">
  <input type="text" name="yelpUrl[yelpUrl]" placeholder="enter yelpUrl of resturant">
  <input type="text" name="items[items]" placeholder="enter items of resturant">
  <input type="text" name="title[title]" placeholder="enter menu title of resturant">
</form>
