<form action="/restaurants" method="post">
  <input type="text" name="restaurant[name]" placeholder="Name"/>
  <input type="text" name="restaurant[address][street]" placeholder="Street Address"/>
  <input type="number" name="restaurant[address][zip]" placeholder="Zip Code"/>
  <input type="text" name="restaurant[yelpUrl]" placeholder="Yelp Url"/>
  <input type="text" name="restaurant[items]" placeholder="Items"/>
  <button type="submit">Submit</button>
</form>
