<h2>{{restaurants.length}} restaurants</h2>
{{#each restaurants as |restaurant index|}}
<h3>
  <a href="/{{restaurant.name}}">{{restaurant.name}}</a>
</h3>
{{/each}}

<form action="/" method="post">
  <input type="text" name="name" placeholder="Name"/>
  <input type="text" name="address.street" placeholder="Street" />
  <input type="text" name="address.zipcode" placeholder="Zipcode" />
  <input type="text" name="yelpUrl" placeholder="Yelp URL" />
  <button type="submit">Add Restaurant</button>
</form>
