<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant App</title>
    <!-- <link rel="stylesheet" href="/assets/css/styles.css" /> -->
  </head>
  <body>
    <h1><a href="/">Restaurant...</a></h1>
    {{{body}}}
  </body>
</html>
