<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants and Stuff</title>
    <link rel="stylesheet" href="assets/css/styles.css"/>
  </head>
  <body>
   {{{body}}}
  </body>
</html>
