<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant</title>
    <style>
      body{
        text-align: center;
      }
      form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 300px;
      }
      button{
        width: 100px;
        margin: 0 auto;
      }
      .deleteButton{
        background-color: red;
      }
    </style>
  </head>
  <body >
    <a href="/"><h1>YUM</h1></a>
    {{{body}}}
  </body>
</html>
