<!DOCTYPE html>
<html>
  <head>
    <title>restaurants</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <h1><a href="/">Restaurants</a></h1>
    {{{body}}}
  </body>
</html>
