<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant List</title>
    <!-- <link rel="stylesheet" href="/assets/css/styles.css" /> -->
  </head>
  <body>
    <h1><a href="/">Your Restaurants</a></h1>
    {{{body}}}
  </body>
</html>
