<!DOCTYPE html>
<html>
  <head>
    <title>yum</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <h1><a href="/restaurants">yum</a></h1>
    {{{body}}}
  </body>
</html>
