<h2>{{restaurants.length}} restaurants</h2>
{{#each restaurants as | restaurant index|}}
<h3>
  <a href="/restaurants/{{restaurant.name}}">{{restaurant.name}} Restaurant</a>
<h3>
{{/each}}

<form action="/restaurants" method="post">
  <input type="text" name="restaurant[name]" placeholder="Name" />
  <input type="text" name="restaurant[yelpUrl]" placeholder="Yelp Url" />
  <input type="text" name="restaurant[address[street]]" placeholder = "Street" />
  <input type="text" name="restaurant[address[zipcode]]" placeholder = "Zipcode"/>
  <button type="submit">New Restaurant</button>
</form>
