<h2>{{candidates.length}} candidates</h2>
{{#each candidates as |candidate index|}}
<h3>
  <a href="/candidates/{{candidate.name}}">{{candidate.name}} for President in {{candidate.year}}</a>
</h3>
{{/each}}
<form action="/candidates" method="post">
  <input type="text" name="candidate[name]" value="banana">
  <input type="number" name="candidate[year]" value="999">
   <button type="submit">Submit</button>
</form>
