<style>
body{
  text-align:center;
  font-family: "helvetica";
  font-size:25px;
}
</style>
<h2> All Restaurants</h2>

{{#each restaurants as |restaurant index|}}
<h3>
  <a href ="/{{restaurant.name}}">{{restaurant.name}}</a>
</h3>
  <form action = "/{{restaurant.name}}/delete" method = "post"><button>Delete</button/></form>
{{/each}}

<form action = "/" method = "post" type = "submit">
  <input type = "text" name = "restaurant[name]" placeholder = "Name"/>
  <input type = "text" name = "restaurant[address.street]" placeholder = "Address - Street"/>
  <input type = "text" name = "restaurant[address.state]" placeholder = "Address - State"/>
  <input type = "number" name = "restaurant[address.zipcode]" placeholder = "Address - Zip"/>
  <input type = "text" name = "restaurant[yelpUrl]" placeholder = "Yelp URL"/>
  <button type = "submit"> Submit</button>
</form>
