<h3>Restaurants:</h3>
<ul>
  {{#each restaurants as |restaurant|}}
    <li><a href="/restaurants/{{restaurant.name}}">{{restaurant.name}}</a></li>
  {{/each}}
</ul>

<h4>Add a new restaurant:</h4>

<form action="/restaurants" method="post">
  <input type="text" placeholder="Name" name="restaurant[name]" /><br>
  <input type="text" placeholder="Street address" name="restaurant[address][street]" /><br>
  <input type="number" placeholder="Zip" name="restaurant[address][zip]" /><br>
  <input type="text" placeholder="Yelp Url" name="restaurant[yelpUrl]" /><br>
  <input type="text" placeholder="Menu Item" name="restaurant[items]"><br>
  <button type="submit">Add restaurant</button>
</form>
