<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/restaurants/index.controller.js"></script>
<script src="/assets/js/restaurants/show.controller.js"></script>
<script src="/assets/js/restaurants/restaurant.factory.js"></script>

<div data-ng-app="yum">
    <main data-ui-view></main>
</div>
