<a href= {{restaurant.name}}>

<footer>
  <h2>Add a compliment</h2>
  <form action="/restaurants" method="post">
    <input type="text" name="street">
    <input type="number" name="zipcode">
    <input type="yelpUrl" name="street">
    <button type="submit">Add New Restaurant</button>
  </form>
</footer>
