html{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  font-style:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
  list-style:none;
}

body{
  font-size:16px;
  line-height:24px;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
}
a{
  text-decoration: none;
  cursor:pointer;
  border-bottom:1px dotted rgba(0,0,0,0.3);
}
h1, h2{
  position:relative;
  font-size:50px;
  line-height:70px;
  padding:30px 0;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:1px 1px 1px #f00;
}
