<h2>Create New Restaurant</h2>

<form action="/" method="post">
<label>Name:</label>
<input type="text" name="name">
<label>street:</label>
<input type="text" name="address.street">
<label>state:</label>
<input type="text" name="address.state">
<label>zipcode:</label>
<input type="text" name="address.zipcode">
<label>yelp link:</label>
<input type="text" name="yelp">
<input type="submit">
