<!-- Iterates through each author -->
{{#each restaurants}}
  <div class="restaurant">
    <div class="restaurantName"><a href="/restaurant/{{_id}}">{{name}}</a></div>
    <!-- For each author, it will iterate through their reminders -->
  
  </div>
{{/each}}
