<h2>Create new Restaurant</h2>
<form action="/restaurants" method="post">
  <input type="text" name="name" placeholder="name"/>
  <input type="text" name="address.street" placeholder="street" />
  <input type="text" name="address.zipcode" placeholder="zip" />
  <input type="text" name="yelp" placeholder="Yelp page" />
  <button type="submit">Add Restaurant</button>
</form>
